$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin screen($key) {
    $breakpoint: map-get($grid-breakpoints, $key);

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - 0.02)) {
            @content;
        }
    } @else {
        @error "The value #{$key} is not in breakpoints list.";
    }
}

%df-align {
    display: flex;
    align-items: center;
}

// Header
.header {
    position: fixed;
    background-color: #e0eae5;
    inset: 0 0 auto 0;
    padding: var(--header-padding) 0;
    z-index: 99;
}

.top-bar {
    @extend %df-align;
}

.bars {
    margin-right: auto;
    padding: 4px;

    img {
        height: 20px;
        width: 20px;
    }
}

.drawer {
    position: fixed;
    inset: 0 auto 0 0;
    background-color: rgba(255, 255, 255);
    width: 70%;
    translate: -100%;
    transition: translate 0.3s;
    z-index: 99;
    padding: 20px 40px;

    @include screen(md) {
        width: 100%;
        padding: 20px;
    }

    &.show {
        display: block;
        translate: 0;

        & ~ .overlay {
            visibility: visible;
            opacity: 1;
        }

        & ~ .arrow {
            translate: 0;
        }
    }

    &-logo {
        justify-content: center;
        margin: 20px 0;
        gap: 10px;

        @extend %df-align;

        > span {
            color: #032e32;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 100%;
        }
    }

    &-list {
        padding-top: 20px;

        @include screen(md) {
            padding-top: 10px;
        }

        a {
            padding: 6px 10px;
            color: #032e32;
            line-height: 175%;
            width: 100%;
            display: inline-block;
            border-radius: 4px;
            transition: 0.2s;

            &:hover {
                text-shadow: 1px 0 0 #032e32;
                background-color: #c7c7c7;
            }
        }
    }
}

@supports (-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px)) {
    .drawer {
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.arrow {
    transform: rotate(180deg);

    img {
        width: 18px;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity, visibility;
    transition-duration: 0.5s;
    z-index: 9;
}

.logo {
    gap: 6px;

    @extend %df-align;

    > span {
        color: #032e32;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 100%;
    }
}

.navbar {
    margin-left: auto;
    margin-right: auto;

    @include screen(xxl) {
        margin-left: 293px;
    }

    @include screen(xl) {
        margin-left: auto;
    }

    &-list {
        @extend %df-align;
        > li {
            > a {
                color: #032e32;
                line-height: 175%;
                padding: 0 21.5px;
                transition: 0.2s;

                &:hover {
                    text-shadow: 1px 0 0 #032e32;
                }
            }
        }
    }
}

.act {
    @extend %df-align;

    @include screen(lg) {
        margin-left: auto;
    }

    &-log-in {
        color: #032e32;
        font-weight: 600;
        line-height: 175%;
        font-size: 1.6rem;
        margin-right: 50px;

        @include screen(lg) {
            margin-right: 30px;
        }

        @include screen(md) {
            display: none;
            margin-right: 0;
        }
    }

    &-btn {
        height: var(--btn-height);
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.offer {
    margin-top: var(--header-height);
    background: #ffcd00;
    overflow: hidden;
    padding: 20px 0;

    @include screen(md) {
        padding: 10px 0;
    }

    &-list {
        display: flex;
        justify-content: center;
        gap: 46px;

        span {
            color: #032e32;
            font-size: 1.8rem;
            line-height: 166.667%;
            flex-shrink: 0;
            position: relative;

            @include screen(md) {
                font-size: 1.2rem;
            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #032e32;
                border-radius: 50%;
                top: 50%;
                left: -28px;
                translate: 0 -50%;

                @include screen(md) {
                    width: 6;
                    height: 6px;
                }
            }
        }
    }
}

// Hero section
.hero {
    background: #e0eae5;
    padding: 100px 0 156px;

    @include screen(md) {
        padding: 50px 0 106px;
    }

    &-left {
        margin-top: 2px;

        @include screen(xl) {
            margin-bottom: 50px;
        }
    }

    &-text {
        margin: 20px 0 40px;
        width: 570px;
        color: #032e32;

        @include screen(md) {
            width: 100%;
        }
    }

    &-form {
        position: relative;
        gap: 18px;

        @extend %df-align;

        img {
            position: absolute;
            top: 50%;
            left: 16px;
            translate: 0 -50%;

            @include screen(md) {
                left: 12px;
            }
        }

        input {
            width: 361px;
            height: 62px;
            border-radius: 8px;
            background: #fff;
            padding: 0 44px;

            @include screen(md) {
                padding: 0 40px;
                height: 50px;
            }

            &::placeholder {
                color: #69797a;
                font-size: 1.8rem;
                line-height: 166.667%;

                @include screen(md) {
                    font-size: 1.6rem;
                }
            }
        }

        &-btn {
            width: 191px;

            @include screen(xxl) {
                width: 170px;
            }

            @include screen(md) {
                height: 50px;
                font-size: 1.2rem;
                width: 150px;
            }
        }
    }

    &-right {
        position: relative;

        > img {
            position: absolute;
            translate: -50% -50%;
            top: 50%;
            left: 50%;

            @include screen(md) {
                width: 100%;
            }
        }
    }
}

.item {
    width: 350px;
    height: 426px;
    border-radius: 12px;
    background: #fff;
    padding: 24px;
    position: relative;
    z-index: 99;
    margin: 0 auto;

    &-wrap {
        width: 54px;
        height: 54px;
        background-color: #032e32;
        border-radius: 50%;
        display: flex;
        position: absolute;
        top: 259px;
        left: 50%;
        translate: -50% 0;
        z-index: 9;

        &:hover ~ .item-image img {
            transform: scale(1.1);
        }

        > img {
            margin: auto;
        }
    }

    &-image {
        width: 322px;
        height: 262px;
        border-radius: 12px;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            transform: scale(1);
            transition: transform 0.3s;
        }
    }

    &-body {
        margin-top: 30px;

        &-title {
            color: #69797a;
            font-size: 1.4rem;
            line-height: 171.429%;
            margin-bottom: 2px;
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3px;

            &-heading {
                color: #032e32;
                font-weight: 700;
                line-height: 175%;
            }

            &-price {
                color: #032e32;
                font-weight: 700;
                line-height: 175%;
                font-size: 1.8rem;
            }
        }
    }

    &-evaluate {
        display: flex;
        align-items: center;
        gap: 6px;

        &-number {
            color: #69797a;
            line-height: 175%;
        }

        &-voters {
            color: #69797a;
            line-height: 175%;
        }
    }
}

// Benefits
.benefits {
    padding: 48px 0;
    background: #032e32;
    position: relative;

    &-body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include screen(md) {
            align-items: flex-start;
            flex-direction: column;
            gap: 50px;
        }
    }

    &-title {
        color: #fff;
        font-size: 1.8rem;
        line-height: 166.667%;
    }

    &-heaidng {
        width: 437px;
        margin-top: 12px;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 135.714%;

        @include screen(lg) {
            width: 300px;
            font-size: 2.4rem;
        }

        @include screen(md) {
            width: 100%;
            font-size: 2rem;
        }
    }

    &-inner {
        position: absolute;
        bottom: 40px;
        left: 50%;
        translate: -50% 0;

        @include screen(xxl) {
            left: calc(50% + 25px);
        }
    }

    &-box {
        width: 242px;
        height: 214px;
        border-radius: 12px;
        background: #ff5f1a;

        img {
            width: 220px;
            height: 260px;
            position: absolute;
            left: 50%;
            bottom: 0;
            translate: -50% 0;
        }
    }

    &-wrap {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        position: absolute;
        top: 50px;
        left: -28px;

        img {
            margin: auto;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 48px;

        @include screen(md) {
            gap: 25px;
        }
    }

    &-item {
        width: 167px;
        span {
            display: block;
            margin-top: 14px;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 133.333%;

            @include screen(md) {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}

.about {
    padding: 160px 0;

    &-top {
        margin: 0 auto;
        width: 570px;
        text-align: center;

        @include screen(md) {
            width: 100%;
        }

        p {
            margin: 20px 0 40px;
        }

        a {
            background: #b5ed3d;
            width: 167px;
            margin-bottom: 70px;
        }
    }

    &-img {
        width: 100%;
        height: 440px;
        border-radius: 12px;

        @include screen(md) {
            height: 300px;
        }
    }
}
