@use "../abstracts";

.about-us {
    margin-top: var(--header-height);

    &-hero {
        padding-top: 54px;
        padding-bottom: 100px;
        background: #e0eae5;

        @include abstracts.screen(xl) {
            padding-bottom: 50px;
        }

        &-body {
            display: flex;
            justify-content: space-between;

            @include abstracts.screen(xl) {
                flex-direction: column;
                gap: 60px;
            }
        }

        &-left {
            width: 570px;

            @include abstracts.screen(xl) {
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }

            p {
                color: #032e32;
                margin-top: 20px;
            }
        }

        &-right {
            position: relative;
            margin: auto;
            width: 470px;
            border-radius: 12px;

            @include abstracts.screen(md) {
                width: 100%;
                text-align: center;
            }

            img {
                &:nth-child(1) {
                    position: absolute;
                    translate: -50% -50%;
                    top: 50%;
                    left: 50%;
                    width: 570px;
                    height: 250px;
                }

                &:nth-child(2) {
                    width: 470px;
                    height: 470px;
                    z-index: 1;
                    position: relative;

                    @include abstracts.screen(md) {
                        width: 300px;
                        height: 300px;
                    }
                }

                @include abstracts.screen(md) {
                    width: 100%;
                }
            }
        }
    }

    &-group {
        &-text {
            width: 570px;

            @include abstracts.screen(xl) {
                width: 100%;
                text-align: center;
            }

            p {
                margin-top: 20px;
            }
        }
    }

    &-group-1 {
        margin: 160px 0;

        @include abstracts.screen(md) {
            margin: 60px 0;
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include abstracts.screen(xl) {
                flex-direction: column;
                gap: 60px;
            }
        }

        &-left {
            display: flex;
            gap: 30px;
        }

        &-list {
            display: grid;
            gap: 30px;

            &:nth-child(1) {
                translate: 0 -30px;
            }

            &:nth-child(1) .about-us-group-1-wrap {
                &:nth-child(1) {
                    background-color: #ffcd00;
                }
                &:nth-child(2) {
                    background-color: #fda4a9;

                    img {
                        filter: brightness(0) saturate(100%) invert(56%) sepia(77%) saturate(1276%) hue-rotate(312deg)
                            brightness(124%) contrast(104%);
                    }
                }
            }

            &:nth-child(2) .about-us-group-1-wrap {
                &:nth-child(1) {
                    background-color: #b5ed3d;

                    img {
                        filter: brightness(0) saturate(100%) invert(73%) sepia(54%) saturate(661%) hue-rotate(29deg)
                            brightness(104%) contrast(86%);
                    }
                }
                &:nth-child(2) {
                    background-color: #e8b88f;

                    img {
                        filter: brightness(0) saturate(100%) invert(97%) sepia(63%) saturate(1016%) hue-rotate(303deg)
                            brightness(100%) contrast(95%);
                    }
                }
            }
        }

        &-wrap {
            display: flex;
            width: 220px;
            height: 220px;
            position: relative;
            border-radius: 12px;

            > img {
                width: 110px;
                height: 110px;
                position: absolute;
                filter: brightness(0) saturate(100%) invert(94%) sepia(50%) saturate(5685%) hue-rotate(318deg)
                    brightness(106%) contrast(105%);

                &:nth-child(1) {
                    left: 0;
                    top: 0;
                }
                &:nth-child(2) {
                    right: 0;
                    top: 0;
                }
                &:nth-child(3) {
                    left: 0;
                    bottom: 0;
                }
                &:nth-child(4) {
                    right: 0;
                    bottom: 0;
                }
            }

            span {
                color: #032e32;
                font-size: 3.2rem;
                font-weight: 800;
                line-height: 131.25%;
                margin: auto;
                z-index: 1;
            }
        }
    }

    &-group-2 {
        &-inner {
            padding: 100px 0;
            border-radius: 12px;
            background: #032e32;
            text-align: center;

            @include abstracts.screen(md) {
                padding: 50px 10px;
            }
        }

        &-top {
            width: 570px;
            margin: 0 auto;

            @include abstracts.screen(xl) {
                width: 100%;
            }

            h2 {
                color: #fff;
            }

            p {
                margin-top: 20px;
                color: #c5d8d9;
            }
        }

        &-list {
            display: flex;
            justify-content: center;
            gap: 70px;
            margin-top: 70px;

            @include abstracts.screen(xl) {
                gap: 40px;
            }
        }

        &-item {
            span {
                color: #fff;
                font-size: 4.2rem;
                font-weight: 800;
                line-height: 123.81%;
            }

            p {
                color: #c5d8d9;
            }
        }
    }

    &-group-3 {
        margin: 160px 0;

        @include abstracts.screen(md) {
            margin: 60px 0;
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include abstracts.screen(xl) {
                flex-direction: column-reverse;
                gap: 60px;
            }
        }

        &-right {
            display: flex;
            gap: 30px;
        }

        &-list {
            display: grid;
            gap: 30px;

            &:nth-child(1) {
                translate: 0 -30px;
            }

            &:nth-child(1) .about-us-group-3-item {
                &:nth-child(1) {
                    background-color: #0056d2;
                }

                &:nth-child(2) {
                    background-color: #012333;
                }
            }

            &:nth-child(2) .about-us-group-3-item {
                &:nth-child(1) {
                    background-color: #b052f2;
                }

                &:nth-child(2) {
                    background-color: #02b3e4;
                }
            }
        }

        &-item {
            display: flex;
            width: 220px;
            height: 220px;
            border-radius: 12px;

            img {
                margin: auto;
            }
        }
    }

    &-group-4 {
        margin: 160px 0;

        @include abstracts.screen(md) {
            margin: 60px 0;
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include abstracts.screen(xl) {
                flex-direction: column;
                gap: 60px;
            }
        }

        &-left {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &-list {
            gap: 30px;
            display: grid;

            &:nth-child(2) .about-us-group-4-item {
                img {
                    width: 220px;
                    height: 220px;
                }
            }
        }

        &-item {
            img {
                width: 220px;
                height: 160px;
            }
        }
    }
}
