/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* bootstrap */
.col, .row[class*=row-cols-] > *,
.row [class*=col-], .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row[class*=row-cols-] > *,
.row [class*=col-] {
  flex: 0 0 auto;
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .row-cols-xxl-1 > * {
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    width: 100%;
  }
  .row-cols-xl-2 > * {
    width: 50%;
  }
  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    width: 25%;
  }
  .row-cols-xl-5 > * {
    width: 20%;
  }
  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    width: 100%;
  }
  .row-cols-lg-2 > * {
    width: 50%;
  }
  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    width: 25%;
  }
  .row-cols-lg-5 > * {
    width: 20%;
  }
  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    width: 100%;
  }
  .row-cols-md-2 > * {
    width: 50%;
  }
  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    width: 25%;
  }
  .row-cols-md-5 > * {
    width: 20%;
  }
  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    width: 100%;
  }
  .row-cols-sm-2 > * {
    width: 50%;
  }
  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    width: 25%;
  }
  .row-cols-sm-5 > * {
    width: 20%;
  }
  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
:root {
  --primary-color: #04704e;
  --heading-color: #032e32;
  --text-color: #4f5a5a;
  --btn-height: 50px;
  --header-padding: 28px;
  --header-height: calc(var(--header-padding) * 2 + var(--btn-height));
}
@media (max-width: 767.98px) {
  :root {
    --btn-height: 36px;
    --header-padding: 20px;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

input,
textarea {
  background: transparent;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  border-radius: 8px;
  background: #b5ed3d;
  padding: 0 20px;
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.btn-dark-color {
  height: 50px;
  border-radius: 6px;
  background: #032e32;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 175%;
}

.heading-large {
  color: var(--heading-color);
  font-size: 7rem;
  font-weight: 800;
  line-height: 114.286%;
}
@media (max-width: 991.98px) {
  .heading-large {
    font-size: 6.4rem;
  }
}
@media (max-width: 767.98px) {
  .heading-large {
    font-size: 4.2rem;
  }
}

.heading-medium {
  color: var(--heading-color);
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 123.81%;
}
@media (max-width: 767.98px) {
  .heading-medium {
    font-size: 3.2rem;
  }
}

.desc {
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 166.667%;
}
@media (max-width: 767.98px) {
  .desc {
    font-size: 1.6rem;
  }
}

.header {
  position: fixed;
  background-color: #e0eae5;
  inset: 0 0 auto 0;
  padding: var(--header-padding) 0;
  z-index: 999;
}

.top-bar {
  display: flex;
  align-items: center;
}

.bars {
  margin-right: auto;
  padding: 4px;
}
.bars img {
  height: 20px;
  width: 20px;
}

.drawer {
  position: fixed;
  inset: 0 auto 0 0;
  background-color: rgb(255, 255, 255);
  width: 70%;
  translate: -100%;
  transition: translate 0.3s;
  z-index: 99;
  padding: 20px 40px;
}
@media (max-width: 767.98px) {
  .drawer {
    width: 100%;
    padding: 20px;
  }
}
.drawer.show {
  display: block;
  translate: 0;
}
.drawer.show ~ .overlay {
  visibility: visible;
  opacity: 1;
}
.drawer.show ~ .arrow {
  translate: 0;
}
.drawer-logo {
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
  display: flex;
  align-items: center;
}
.drawer-logo > span {
  color: #032e32;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 100%;
}
.drawer-list {
  padding-top: 40px;
}
.drawer-list a {
  padding: 6px 10px;
  color: #032e32;
  line-height: 175%;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  transition: 0.2s;
}
.drawer-list a:hover {
  text-shadow: 1px 0 0 #032e32;
  background-color: #c7c7c7;
}
.drawer-arrow {
  transform: rotate(180deg);
}
.drawer-arrow img {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(14%) sepia(35%) saturate(1047%) hue-rotate(136deg) brightness(92%) contrast(98%);
}

@supports (-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px)) {
  .drawer {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.5s;
  z-index: 9;
}

.logo {
  gap: 6px;
  display: flex;
  align-items: center;
}
.logo > span {
  color: #032e32;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 100%;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1399.98px) {
  .navbar {
    margin-left: 293px;
  }
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: auto;
  }
}
.navbar-list {
  display: flex;
  align-items: center;
}
.navbar-list > li > a {
  color: #032e32;
  line-height: 175%;
  padding: 0 21.5px;
  transition: 0.2s;
}
.navbar-list > li > a:hover {
  text-shadow: 1px 0 0 #032e32;
}

.act {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .act {
    margin-left: auto;
  }
}
.act-log-in {
  color: #032e32;
  font-weight: 600;
  line-height: 175%;
  font-size: 1.6rem;
  margin-right: 50px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .act-log-in {
    margin-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .act-log-in {
    display: none;
    margin-right: 0;
  }
}
.act-btn {
  height: var(--btn-height);
  font-size: 1.3rem;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .act-btn {
    width: 90px;
  }
}

.avatar {
  width: 50px;
  height: var(--btn-height);
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .avatar {
    margin-left: auto;
  }
}
@media (max-width: 767.98px) {
  .avatar {
    width: 36px;
  }
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.footer {
  padding-top: 92px;
  background: #e0eae5;
}
.footer-inner {
  display: flex;
  column-gap: 128px;
}
@media (max-width: 767.98px) {
  .footer-inner {
    gap: 60px;
    flex-direction: column;
  }
}
.footer-separate {
  display: flex;
  column-gap: 128px;
}
@media (max-width: 1199.98px) {
  .footer-separate {
    flex-direction: column;
    gap: 60px;
  }
}
.footer-group:last-child {
  margin-right: 0;
}
.footer-group h3 {
  color: #032e32;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}
.footer-group-inner {
  margin-top: 24px;
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .footer-group-inner {
    flex-direction: column;
    gap: 10px;
  }
}
.footer-group-box span {
  display: block;
  color: #032e32;
  line-height: 175%;
}
.footer-group-box a {
  color: #032e32;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 16px;
  line-height: 150%;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-form input {
  width: 258px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #032e32;
  padding: 0 18px;
  color: #032e32;
}
.footer-form input::placeholder {
  color: #032e32;
  line-height: 175%;
}
.footer-form button {
  width: 129px;
  height: 56px;
  font-size: 1.6rem;
}
.footer-list li:first-child a {
  padding-top: 0;
}
.footer-list li:last-child a {
  padding-bottom: 0;
}
.footer-list li a {
  display: inline-block;
  color: #032e32;
  line-height: 175%;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}
.footer-list li a:hover {
  text-decoration: underline;
}
.footer-icons {
  margin-top: 24px;
  display: flex;
  gap: 14px;
}
.footer-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #032e32;
  display: flex;
}
.footer-icon:hover {
  cursor: pointer;
  opacity: 0.9;
}
.footer-icon img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(2%) hue-rotate(343deg) brightness(109%) contrast(101%);
  margin: auto;
}
.footer-end {
  display: flex;
  align-items: center;
  margin-top: 48px;
  border-top: 1px solid #d9d9d9;
  padding: 28px 0;
}
@media (max-width: 1199.98px) {
  .footer-end {
    justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .footer-end {
    flex-direction: column;
    gap: 24px;
  }
}
.footer-end-logo {
  margin-right: 378px;
}
@media (max-width: 1199.98px) {
  .footer-end-logo {
    margin-right: 0;
  }
}
.footer-end-group {
  gap: 27px;
  display: flex;
}
.footer-end > span {
  color: #5d6c6c;
  line-height: 175%;
  margin-left: auto;
}
@media (max-width: 1199.98px) {
  .footer-end > span {
    margin-left: 0;
  }
}

.offer {
  margin-top: var(--header-height);
  background: #ffcd00;
  overflow: hidden;
  padding: 20px 0;
}
@media (max-width: 767.98px) {
  .offer {
    padding: 10px 0;
  }
}
.offer-list span {
  color: #032e32;
  font-size: 1.8rem;
  line-height: 166.667%;
  position: relative;
  margin-right: 46px;
}
@media (max-width: 767.98px) {
  .offer-list span {
    font-size: 1.2rem;
  }
}
.offer-list span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #032e32;
  border-radius: 50%;
  top: 50%;
  left: -28px;
  translate: 0 -50%;
}
@media (max-width: 767.98px) {
  .offer-list span::before {
    width: 6px;
    height: 6px;
  }
}

.hero {
  background: #e0eae5;
  padding: 100px 0 156px;
}
@media (max-width: 767.98px) {
  .hero {
    padding: 50px 0 106px;
  }
}
.hero-left {
  margin-top: 2px;
}
@media (max-width: 1199.98px) {
  .hero-left {
    margin-bottom: 50px;
  }
}
.hero-text {
  margin: 20px 0 40px;
  width: 570px;
  color: #032e32;
}
@media (max-width: 767.98px) {
  .hero-text {
    width: 100%;
  }
}
.hero-form {
  position: relative;
  gap: 18px;
  display: flex;
  align-items: center;
}
.hero-form img {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
}
@media (max-width: 767.98px) {
  .hero-form img {
    left: 12px;
  }
}
.hero-form input {
  width: 361px;
  height: 62px;
  border-radius: 8px;
  background: #fff;
  padding: 0 44px;
  color: #69797a;
  line-height: 166.667%;
}
@media (max-width: 767.98px) {
  .hero-form input {
    padding: 0 40px;
    height: 50px;
  }
}
.hero-form input::placeholder {
  color: #69797a;
  font-size: 1.8rem;
  line-height: 166.667%;
}
@media (max-width: 767.98px) {
  .hero-form input::placeholder {
    font-size: 1.6rem;
  }
}
.hero-form-btn {
  width: 191px;
}
@media (max-width: 1399.98px) {
  .hero-form-btn {
    width: 170px;
  }
}
@media (max-width: 767.98px) {
  .hero-form-btn {
    height: 50px;
    font-size: 1.2rem;
    width: 150px;
  }
}
.hero-right {
  position: relative;
  width: 370px;
  margin: auto;
}
@media (max-width: 767.98px) {
  .hero-right {
    width: 345px;
  }
}
.hero-right > img {
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
}
@media (max-width: 767.98px) {
  .hero-right > img {
    width: 100%;
  }
}
.hero-item {
  width: 370px;
  height: 426px;
  border-radius: 12px;
  background: #fff;
  padding: 24px;
  position: relative;
  z-index: 99;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .hero-item {
    width: 100%;
  }
}
.hero-item-wrap {
  width: 54px;
  height: 54px;
  background-color: #032e32;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 259px;
  left: 50%;
  translate: -50% 0;
  z-index: 9;
  transition: 0.3s;
}
.hero-item-wrap:hover ~ .item-image img {
  transform: scale(1.1);
}
.hero-item-wrap:hover {
  background-color: #b5ed3d;
}
.hero-item-wrap:hover img {
  filter: brightness(0) saturate(100%) invert(13%) sepia(44%) saturate(1081%) hue-rotate(140deg) brightness(91%) contrast(98%);
}
.hero-item-wrap > img {
  margin: auto;
}
.hero-item-image {
  width: 100%;
  height: 262px;
  border-radius: 12px;
  overflow: hidden;
}
.hero-item-image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transform: scale(1);
  transition: transform 0.3s;
}
.hero-item-body {
  margin-top: 30px;
}
.hero-item-body-title {
  color: #69797a;
  font-size: 1.4rem;
  line-height: 171.429%;
  margin-bottom: 2px;
}
.hero-item-body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
.hero-item-body-inner-heading {
  color: #032e32;
  font-weight: 700;
  line-height: 175%;
}
.hero-item-body-inner-price {
  color: #032e32;
  font-weight: 700;
  line-height: 175%;
  font-size: 1.8rem;
}
.hero-item-evaluate {
  display: flex;
  align-items: center;
  gap: 6px;
}
.hero-item-evaluate-number {
  color: #69797a;
  line-height: 175%;
}
.hero-item-evaluate-voters {
  color: #69797a;
  line-height: 175%;
}

.benefits {
  padding: 48px 0;
  background: #032e32;
  position: relative;
}
@media (max-width: 767.98px) {
  .benefits {
    padding: 32px 0;
  }
}
.benefits-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .benefits-body {
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
  }
}
.benefits-title {
  color: #fff;
  font-size: 1.8rem;
  line-height: 166.667%;
}
.benefits-heaidng {
  width: 437px;
  margin-top: 12px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 135.714%;
}
@media (max-width: 991.98px) {
  .benefits-heaidng {
    width: 300px;
    font-size: 2.4rem;
  }
}
@media (max-width: 767.98px) {
  .benefits-heaidng {
    width: 100%;
    font-size: 2rem;
  }
}
.benefits-inner {
  position: absolute;
  bottom: 40px;
  left: 50%;
  translate: -50% 0;
}
@media (max-width: 1399.98px) {
  .benefits-inner {
    left: calc(50% + 25px);
  }
}
.benefits-box {
  width: 242px;
  height: 214px;
  border-radius: 12px;
  background: #ff5f1a;
}
.benefits-box img {
  width: 220px;
  height: 260px;
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
}
.benefits-wrap {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 50px;
  left: -28px;
}
.benefits-wrap img {
  margin: auto;
}
.benefits-list {
  display: flex;
  align-items: center;
  gap: 48px;
}
@media (max-width: 767.98px) {
  .benefits-list {
    gap: 25px;
  }
}
.benefits-item {
  width: 167px;
}
@media (max-width: 767.98px) {
  .benefits-item {
    width: auto;
  }
}
.benefits-item span {
  display: block;
  margin-top: 14px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 133.333%;
}
@media (max-width: 767.98px) {
  .benefits-item span {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.about {
  padding: 160px 0;
}
@media (max-width: 767.98px) {
  .about {
    padding: 60px 0;
  }
}
.about-top {
  margin: 0 auto;
  width: 570px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .about-top {
    width: 100%;
  }
}
.about-top p {
  margin: 20px 0 40px;
}
.about-top a {
  background: #b5ed3d;
  width: 167px;
  margin-bottom: 70px;
}
.about-img {
  width: 100%;
  height: 440px;
  border-radius: 12px;
}
@media (max-width: 767.98px) {
  .about-img {
    height: 300px;
  }
}

.service {
  padding: 160px 0;
}
@media (max-width: 767.98px) {
  .service {
    padding: 60px 0;
  }
}
.service h2 {
  width: 570px;
}
@media (max-width: 767.98px) {
  .service h2 {
    width: 100%;
  }
}
.service-list {
  margin-top: 70px;
}
.service-item {
  width: 100%;
  height: 338px;
  border-radius: 12px;
  border: 1px solid #d8e0e0;
  background: #fff;
  padding: 44px 22px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.service-item:hover {
  box-shadow: 0px 18px 46px 0px rgba(3, 46, 50, 0.08);
  border-color: #fff;
}
.service-item h3 {
  color: #032e32;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  margin-top: 28px;
  margin-bottom: 16px;
}

.courses {
  background: #e0eae5;
  padding: 100px 0;
}
@media (max-width: 767.98px) {
  .courses {
    padding: 50px 0;
  }
}
.courses-top {
  width: 570px;
  text-align: center;
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .courses-top {
    width: 100%;
  }
}
.courses-list {
  margin-top: 70px;
}
.courses-act {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.courses-act button {
  width: 167px;
}

.item {
  width: 100%;
  height: 426px;
  border-radius: 12px;
  background: #fff;
  padding: 24px;
  position: relative;
  z-index: 99;
  margin: 0 auto;
}
.item-wrap {
  width: 54px;
  height: 54px;
  background-color: #032e32;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: 259px;
  left: 50%;
  translate: -50% 0;
  z-index: 9;
  transition: 0.3s;
}
.item-wrap:hover ~ .item-image img {
  transform: scale(1.1);
}
.item-wrap:hover {
  background-color: #b5ed3d;
}
.item-wrap:hover img {
  filter: brightness(0) saturate(100%) invert(13%) sepia(44%) saturate(1081%) hue-rotate(140deg) brightness(91%) contrast(98%);
}
.item-wrap > img {
  margin: auto;
}
.item-image {
  width: 100%;
  height: 262px;
  border-radius: 12px;
  overflow: hidden;
}
.item-image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transform: scale(1);
  transition: transform 0.3s;
}
.item-body {
  margin-top: 30px;
}
.item-body-title {
  color: #69797a;
  font-size: 1.4rem;
  line-height: 171.429%;
  margin-bottom: 2px;
}
.item-body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
.item-body-inner-heading {
  color: #032e32;
  font-weight: 700;
  line-height: 175%;
}
.item-body-inner-price {
  color: #032e32;
  font-weight: 700;
  line-height: 175%;
  font-size: 1.8rem;
}
.item-evaluate {
  display: flex;
  align-items: center;
  gap: 6px;
}
.item-evaluate-number {
  color: #69797a;
  line-height: 175%;
}
.item-evaluate-voters {
  color: #69797a;
  line-height: 175%;
}

.video {
  padding: 160px 0;
}
@media (max-width: 767.98px) {
  .video {
    padding: 60px 0;
  }
}
.video-body {
  display: flex;
  align-items: center;
  column-gap: 130px;
}
@media (max-width: 1199.98px) {
  .video-body {
    flex-direction: column;
    row-gap: 60px;
  }
}
.video-left {
  position: relative;
  display: flex;
}
@media (max-width: 991.98px) {
  .video-left {
    width: 100%;
  }
}
.video-left > img {
  width: 470px;
  height: 430px;
  border-radius: 15px;
}
@media (max-width: 1199.98px) {
  .video-left > img {
    margin: auto;
  }
}
@media (max-width: 991.98px) {
  .video-left > img {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .video-left > img {
    height: 250px;
  }
}
.video-wrap {
  display: flex;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #b5ed3d;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}
.video-wrap > img {
  margin: auto;
}
.video-right {
  width: 570px;
}
@media (max-width: 991.98px) {
  .video-right {
    width: 100%;
  }
}
.video-right p {
  margin-top: 18px;
}
.video-inner {
  margin-top: 12px;
}
.video-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
.video-group-wrap {
  width: 16px;
  height: 16px;
  background-color: #ffcd00;
  border-radius: 50%;
  display: flex;
}
.video-group-wrap > img {
  margin: auto;
}
.video-group span {
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 166.667%;
}

.testimonial-buttons, .popupvideo-iframe, .popupvideo-inner {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@keyframes popupvideoFaceIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popupvideo {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: none;
  animation: popupvideoFaceIn 0.3s;
}
.popupvideo.active {
  display: block;
}
.popupvideo-inner {
  height: 80%;
  width: 80%;
  max-width: 1200px;
  position: absolute;
  z-index: 999;
}
@media (max-width: 767.98px) {
  .popupvideo-inner {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
.popupvideo-iframe {
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: 52.25%;
  background-color: #000;
  border: 2px solid #fff;
}
.popupvideo-iframe video {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.popupvideo-close {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -15px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .popupvideo-close {
    width: 25px;
    height: 25px;
  }
}
.popupvideo-close img {
  margin: auto;
  width: 14px;
}
@media (max-width: 767.98px) {
  .popupvideo-close img {
    width: 12px;
  }
}

.testimonial {
  margin-bottom: 160px;
}
@media (max-width: 767.98px) {
  .testimonial {
    margin-bottom: 60px;
  }
}
.testimonial-top {
  width: 570px;
}
@media (max-width: 767.98px) {
  .testimonial-top {
    width: 100%;
  }
}
.testimonial-top p {
  margin-top: 18px;
}
.testimonial-list {
  position: relative;
  margin-top: 70px;
}
@media (max-width: 991.98px) {
  .testimonial-list {
    overflow: hidden;
  }
}
.testimonial-row {
  flex-wrap: nowrap;
  height: 540px;
  position: relative;
  left: 0;
}
.testimonial-item {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #d8e0e0;
  padding: 44px 24px;
  opacity: 0.5;
  cursor: pointer;
}
.testimonial-item.active {
  opacity: 1;
  box-shadow: 0px 18px 46px 0px rgba(3, 46, 50, 0.08);
  border: 1px solid #fff;
}
.testimonial-item-one {
  height: 502px;
}
@media (max-width: 1199.98px) {
  .testimonial-item-one {
    height: auto;
  }
}
.testimonial-item-two {
  height: 446px;
}
@media (max-width: 1199.98px) {
  .testimonial-item-two {
    height: auto;
  }
}
.testimonial-item-three {
  height: 474px;
}
@media (max-width: 1199.98px) {
  .testimonial-item-three {
    height: auto;
  }
}
.testimonial-inner h3 {
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
  width: 270px;
}
.testimonial-inner p {
  color: #4f5a5a;
  line-height: 175%;
  margin-top: 28px;
}
@media (max-width: 767.98px) {
  .testimonial-inner p {
    font-size: 1.5rem;
  }
}
.testimonial-group {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 38px;
}
.testimonial-wrap {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-wrap img {
  width: 100%;
  height: 100%;
}
.testimonial-information > span {
  color: #032e32;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
}
.testimonial-icons {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 6px;
}
.testimonial-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.testimonial-dot {
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background: #e0eae5;
}
.testimonial-dot.active {
  background-color: #b5ed3d;
}
.testimonial-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
}
.testimonial-buttons button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #a29e9e;
  display: flex;
}
.testimonial-buttons button img {
  margin: auto;
  width: 15px;
}
.testimonial-next {
  transform: rotate(180deg);
}

.cta-inner {
  background-color: #04704e;
  padding: 100px 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .cta-inner {
    padding: 60px 0;
  }
}
.cta-inner > img {
  position: absolute;
}
.cta-inner > img:nth-of-type(1) {
  width: 122px;
  height: 122px;
  top: 50%;
  translate: 0 -50%;
  left: 135px;
}
@media (max-width: 991.98px) {
  .cta-inner > img:nth-of-type(1) {
    width: 100px;
    height: 100px;
    left: 10px;
  }
}
.cta-inner > img:nth-of-type(2) {
  width: 44px;
  height: 44px;
  left: 400px;
  bottom: 109px;
}
@media (max-width: 991.98px) {
  .cta-inner > img:nth-of-type(2) {
    left: 170px;
    bottom: 109px;
  }
}
.cta-inner > img:nth-of-type(3) {
  width: 44px;
  height: 44px;
  top: 96px;
  right: 276px;
}
@media (max-width: 991.98px) {
  .cta-inner > img:nth-of-type(3) {
    right: 76px;
  }
}
.cta-inner > img:nth-of-type(4) {
  width: 122px;
  height: 122px;
  top: 50%;
  translate: 0 -50%;
  right: 135px;
}
@media (max-width: 991.98px) {
  .cta-inner > img:nth-of-type(4) {
    width: 100px;
    height: 100px;
    right: 10px;
  }
}
.cta-body {
  width: 570px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767.98px) {
  .cta-body {
    width: 100%;
  }
}
.cta-body > img {
  position: absolute;
}
.cta-body > img:nth-child(1) {
  width: 62px;
  height: 62px;
  top: 70px;
  left: -12px;
}
.cta-body > img:nth-child(2) {
  width: 120px;
  height: 120px;
  top: 90px;
  left: 78px;
}
.cta-body > img:nth-child(3) {
  width: 80px;
  height: 80px;
  top: 0;
  left: 209px;
}
.cta-body > img:nth-child(4) {
  width: 144px;
  height: 144px;
  top: 68px;
  left: 319px;
}
.cta-body > img:nth-child(5) {
  width: 76px;
  height: 76px;
  top: 4px;
  left: 445px;
}
.cta-body > img:nth-child(6) {
  width: 62px;
  height: 62px;
  top: 121px;
  left: 512px;
}
.cta-body h2 {
  color: #fff;
  padding-top: 250px;
}
@media (max-width: 767.98px) {
  .cta-body h2 {
    padding-top: 0;
  }
}
.cta-body p {
  color: #fff;
  margin-top: 18px;
  font-size: 1.4rem;
}
.cta-body button {
  margin-top: 38px;
  width: 173px;
}
@media (max-width: 767.98px) {
  .cta-body button {
    height: 50px;
    width: 155px;
    font-size: 1.6rem;
  }
}

.auth {
  background: linear-gradient(to right, #04704e 50%, #e0eae5 50%);
}
@media (max-width: 1199.98px) {
  .auth {
    background: #e0eae5;
  }
}
.auth-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
@media (max-width: 1199.98px) {
  .auth-body {
    justify-content: center;
  }
}
.auth-left-inner {
  width: 470px;
}
.auth-left-inner h2 {
  color: #fff;
  position: relative;
}
.auth-left-inner h2::before {
  content: "";
  display: inline-block;
  border-radius: 12px;
  background: #b5ed3d;
  width: 170px;
  height: 4px;
  position: absolute;
  left: 0;
  top: -20px;
}
.auth-left-inner p {
  color: #fff;
  margin-top: 20px;
}
.auth-right {
  position: relative;
}
@media (max-width: 767.98px) {
  .auth-right {
    width: 100%;
  }
}
.auth-right > a {
  position: absolute;
  right: 0;
  bottom: calc(100% + 18px);
}
@media (max-width: 767.98px) {
  .auth-right > a {
    bottom: calc(100% + 8px);
  }
}
.auth-right img {
  width: 20px;
  height: 20px;
}

.form {
  border-radius: 12px;
  background: #fff;
  width: 470px;
  min-height: 100px;
  padding: 38px 28px;
}
@media (max-width: 767.98px) {
  .form {
    width: 100%;
    padding: 25px 20px;
  }
}
.form-group {
  margin-top: 26px;
}
.form-group:nth-child(1) {
  margin-top: 0;
}
.form-group.invalid .form-control {
  border-color: #f33a58;
  background-color: rgba(243, 58, 88, 0.1490196078);
}
.form-group.invalid .form-message {
  color: #f33a58;
}
@media (max-width: 767.98px) {
  .form-group {
    margin-top: 16px;
  }
}
.form-label {
  color: #032e32;
  font-weight: 600;
  line-height: 175%;
  display: block;
  margin-bottom: 17px;
}
@media (max-width: 767.98px) {
  .form-label {
    margin-bottom: 8px;
    font-size: 1.5rem;
  }
}
.form-control {
  width: 100%;
  height: 62px;
  border-radius: 6px;
  border: 1px solid #d4dddd;
  padding: 0 17px;
  color: #4f5a5a;
}
@media (max-width: 767.98px) {
  .form-control {
    height: 45px;
  }
}
.form-control::placeholder {
  font-size: 1.6rem;
  line-height: 175%;
}
@media (max-width: 767.98px) {
  .form-control::placeholder {
    font-size: 1.4rem;
  }
}
.form-message {
  display: block;
  margin-top: 4px;
}
@media (max-width: 767.98px) {
  .form-message {
    font-size: 1.4rem;
  }
}
.form-forgot {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  color: #032e32;
  font-weight: 600;
  line-height: 175%;
}
@media (max-width: 767.98px) {
  .form-forgot {
    font-size: 1.4rem;
    margin-top: 0;
  }
}
.form-submit {
  width: 100%;
  height: 52px;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .form-submit {
    font-size: 1.5rem;
    height: 45px;
    margin-top: 20px;
  }
}
.form-or {
  display: flex;
  justify-content: center;
  color: #4f5a5a;
  line-height: 175%;
  margin-top: 18px;
  position: relative;
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .form-or {
    font-size: 1.5rem;
    margin-top: 8px;
  }
}
.form-or::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 1px;
  background: #d4dddd;
  top: 50%;
  translate: 0 -50%;
  left: 0;
}
@media (max-width: 767.98px) {
  .form-or::before {
    width: 133px;
  }
}
.form-or::after {
  content: "";
  position: absolute;
  width: 172px;
  height: 1px;
  background: #d4dddd;
  top: 50%;
  translate: 0 -50%;
  right: 0;
}
@media (max-width: 767.98px) {
  .form-or::after {
    width: 133px;
  }
}
.form-other {
  margin: 18px auto 0;
  border-radius: 6px;
  border: 1px solid #d4dddd;
  width: 255px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .form-other {
    height: 40px;
    margin-top: 8px;
  }
}
.form-other span {
  color: #4f5a5a;
  line-height: 175%;
}
.form-create {
  color: #4f5a5a;
  text-align: center;
  line-height: 175%;
  margin-top: 18px;
}
@media (max-width: 767.98px) {
  .form-create {
    font-size: 1.5rem;
    margin-top: 8px;
  }
}
.form-create a {
  color: #032e32;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
