<div class="container">
    <div class="footer-inner">
        <div class="footer-separate">
            <div class="footer-group">
                <h3>Courses</h3>
                <ul class="footer-list">
                    <li>
                        <a href="#!">Classroom Courses</a>
                    </li>
                    <li>
                        <a href="#!">Virtual Classroom Courses</a>
                    </li>
                    <li>
                        <a href="#!">E-Learning Courses</a>
                    </li>
                </ul>
            </div>
            <div class="footer-group">
                <h3>Circuit</h3>
                <ul class="footer-list">
                    <li>
                        <a href="#!">About us</a>
                    </li>
                    <li>
                        <a href="#!">Why Circuit</a>
                    </li>
                    <li>
                        <a href="#!">Testimonials</a>
                    </li>
                    <li>
                        <a href="#!">Promotions</a>
                    </li>
                    <li>
                        <a href="#!">Blog</a>
                    </li>
                    <li>
                        <a href="#!">Podcasts</a>
                    </li>
                    <li>
                        <a href="#!">Forum</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-separate">
            <div class="footer-group">
                <h3>Help</h3>
                <ul class="footer-list">
                    <li>
                        <a href="#!">Contact us</a>
                    </li>
                    <li>
                        <a href="#!">Our Venues</a>
                    </li>
                    <li>
                        <a href="#!">My account</a>
                    </li>
                </ul>
            </div>
            <div class="footer-group">
                <h3>Newsletter</h3>
                <form class="footer-form" action="">
                    <input type="email" placeholder="email address">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <div class="footer-group-inner">
                    <div class="footer-group-box">
                        <span>Email us</span>
                        <a href="mailto:email@gmail.com">email@gmail.com</a>
                    </div>
                    <div class="footer-group-box">
                        <span>Call us</span>
                        <a href="tel: +000 1234 5678">000 1234 5678</a>
                    </div>
                </div>
                <div class="footer-icons">
                    <div class="footer-icon">
                        <img src="./assets/icons/footer/footer-1.svg" alt="">
                    </div>
                    <div class="footer-icon">
                        <img src="./assets/icons/footer/footer-2.svg" alt="">
                    </div>
                    <div class="footer-icon">
                        <img src="./assets/icons/footer/footer-3.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-end">
        <a href="#" class="d-md-none">
            <span class="footer-end-logo logo">
                <img src="./assets/icons/header/logo.svg" alt="">
                <span>circuit</span>
            </span>
        </a>

        <div class="footer-end-group">
            <img src="./assets/icons/footer/footer-4.svg" alt="">
            <img src="./assets/icons/footer/footer-5.svg" alt="">
            <img src="./assets/icons/footer/footer-6.svg" alt="">
        </div>
        <span class="footer-end-text">Copyright © 2022 UIHUT all rights reserved.</span>
    </div>
</div>