<div class="container">
    <div class="top-bar">
        <!-- Bars -->
        <button class="bars d-none d-lg-block js-toggle" toggle-target="#drawer-js">
            <img src="./assets/icons/header/bars.svg" alt="">
        </button>

        <!-- Drawer -->
        <div id="drawer-js" class="drawer hide">
            <button class="drawer-arrow js-toggle" toggle-target="#drawer-js">
                <img src="./assets/icons/header/arrow.svg" alt="">
            </button>

            <!-- Logo -->
            <a href="./index.html">
                <span class="drawer-logo">
                    <img src="./assets/icons/header/logo.svg" alt="">
                    <span>circuit</span>
                </span>
            </a>

            <!-- Navbar -->
            <ul class="drawer-list">
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="./about-us.html">About us</a>
                </li>
                <li>
                    <a href="./resources.html">Resources</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div class="overlay js-toggle" toggle-target="#drawer-js"></div>

        <!-- Logo -->
        <a href="#">
            <span class="logo">
                <img src="./assets/icons/header/logo.svg" alt="">
                <span>circuit</span>
            </span>
        </a>

        <!-- Navbar -->
        <nav class="navbar d-lg-none">
            <ul class="navbar-list">
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="./about-us.html">About us</a>
                </li>
                <li>
                    <a href="./resources.html">Resources</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="act">
            <a href="./log-in.html" class="act-log-in">Log In</a>
            <a href="" class="act-btn btn btn-dark-color">Sign Up</a>
        </div>
    </div>
</div>